---
const tablea: string[][] = [];
const th: string[] = [];
for (let i = 1; i <= 9; i++) {
  th.push(`${i}`);
  const row: string[] = [];
  for (let j = 1; j <= 9; j++) {
    row.push(`${j} × ${i} = ${i * j}`);
  }
  tablea.push(row);
}

const bg = [
  'bg-rose-700',
  'bg-orange-600',
  'bg-yellow-600',
  'bg-lime-700',
  'bg-teal-700',
  'bg-sky-700',
  'bg-violet-700',
  'bg-pink-700',

  'bg-violet-700',
  'bg-pink-700',
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>99乘法表</title>
  </head>
  <body>
    <div class="text-base container">
      <h1 class="block text-center text-2xl my-8 font-bold">99乘法表</h1>
      <div class="flex justify-center">
        <table class="border-separate">
          <tbody>
            {
              tablea.map((row, i) => (
                <tr>
                  <th class="rounded bg-sky-500 py-2 px-4 w-10">{i + 1}</th>
                  {row.map((eq, j) =>
                    i >= j ? <td class={'rounded py-2 px-3 w-24 text-white font-bold ' + bg[j]}>{eq}</td> : ''
                  )}
                </tr>
              ))
            }
            <tr>
              <th></th>
              {th.map((i) => <th class="rounded bg-sky-500 py-2 px-3 w-24">{i}</th>)}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
